body {
  background: #ECF0F1;
}

.wrapper {
  margin: 50px auto;
  width: 1000px;
}

table {
  table-layout: fixed;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
}
table caption {
  text-align: center;
  font-size: 2.5em;
  padding: 0.35em;
  color: #FAFAFA;
  font-family: fantasy;
}
table tr {
  height: 1.85em;
}
table td, table th {
  text-align: center;
  background: #FAFAFA;
}
table th {
  font-weight: 400;
  border-radius: 10px;
}
.tds{
  height: 33.3px;
  width: 120.75px;
  color: black;
  border-radius: 10px;
}
td{
  height: 33.3px;
  width: 120.75px;
  color: black;
  border-radius: 10px;
}
#save{
 font-size: large;
 border: solid black;
 border-radius: 15px;
 position: relative;
 height: 35px;
 left: 1000px;
 width: 200px;
 left: 400px;
}
#save:hover{
  color: #FAFAFA;
  background-color: rgba(66, 7, 7, 0.176);
  
}
#reset{
  font-size: large;
  border: solid black;
  border-radius: 15px;
  position: relative;
  height: 35px;
  left: 400px;
  width: 200px;
  left: 550px;
 }
 #reset:hover{
   color: #FAFAFA;
   background-color: rgba(66, 7, 7, 0.176);
 }